*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image {
    max-width: 100%;
    width: 1000px; 
    height: auto; 
  }

.feature-section {
    max-width: 100%;
    width: 1900px;
    height: auto;
}

.carousel-container {
    max-width: 500px;
    width: 100%; 
}
.carousel-item div {
    display: flex;
    align-items: center;
}
.carousel-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.background-image {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/about.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}